@import url('common.css');

nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 60px;
    background-color: #a58fcb;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid white;
}

nav img{
    width: 50px;
    height: 50px;
    padding-top: 5px;
    padding-left: 20px;
}

/* Override split-left and split-right for this page due to nav bar */
.split-left{
    top: 60px;
    height: calc(100vh - 60px);
}

.split-right{
    top: 60px;
    height: calc(100vh - 60px);
}

.split-right h2{
    font-size: 36px;
}

.forgot-password-container{
    width: 750px;
    padding: 45px;
    background-color: #ececec;
    border-radius: 45px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    font-family: "Poppins Regular";
    padding: 25px;
    font-size: 18px;
    border-radius: 45px;
    display: block;
    width: 80%;
    margin: 0 auto 20px;
    border: 1px solid #ccc;
    outline: none;
}

#email-input, #new-password-input, #confirm-password-input{
    display: block;
    text-align: left;
    padding-left: 70px;
    color: black;
    font-family: "Poppins Regular";
}

#new-password-input, #confirm-password-input{
    display: none; /* hide these input fields initially */
    margin-top: 20px;
}

.forgot-password-container button{
    font-family: "Poppins Bold";
    background-color: #a58fcb;
    color: white;
    border: black 2px solid;
    padding: 15px 30px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    display: inline-block;
}

.forgot-password-container button:hover{
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
}

#new-password-btn{
    display: none; /* hide this button initially */
}