@import url('common.css');

@font-face {
  font-family: "Poppins Bold";
  font-weight: 700;
  src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins Regular";
  font-weight: 400;
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

.container {
  width: 100%;
}

.split-left {
  height: 100vh;
  width: 40%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #a58fcb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
  border-right: 3px solid white;
}

.split-left h1 {
  font-family: "Poppins Bold";
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 48px;
  line-height: 1.3;
}

.split-left img {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.split-left img:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
}

.split-right {
  height: 100vh;
  width: 60%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom right, #b3a4d7, #6254a8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
}

.split-right h2 {
  font-family: "Poppins Bold";
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 42px;
  margin: 0 0 20px 0;
}

.login-container {
  width: 750px;
  padding: 45px;
  background-color: #ececec;
  border-radius: 45px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}

input {
  font-family: "Poppins Regular";
  padding: 25px;
  font-size: 18px;
  border-radius: 45px;
  display: block;
  width: 80%;
  margin: 0 auto 20px;
  border: 1px solid #ccc;
  outline: none;
}

#forgot-password-link {
  display: block;
  text-align: left;
  padding-left: 70px;
  color: black;
  font-family: "Poppins Regular";
}

.login-container button {
  font-family: "Poppins Bold";
  background-color: #a58fcb;
  color: white;
  border: black 2px solid;
  padding: 15px 30px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
}

.login-container button:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
}

.split-right h3,
.split-right a {
  color: white;
  font-family: "Poppins Regular";
  font-size: 16px;
}

.split-right a {
  text-decoration: underline;
  cursor: pointer;
}

.split-right a:hover {
  color: #ececec;
}
